.admin-layout {
  min-height: 100vh;
  display: flex;
  background: #f6f7fb;
}

.main-area {
  margin-left: 250px;
  width: calc(100% - 250px);
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  transition: margin-left 0.3s ease, width 0.3s ease;
}

/* Collapsed sidebar */
.main-area.sidebar-collapsed {
  margin-left: 72px;
  width: calc(100% - 72px);
}

.page-content {
  flex: 1;
  padding: 25px;
  overflow-y: auto;
}