/* ================================================= */
/* SUNDAY HOLIDAY */
/* ================================================= */

.holiday-card {
  margin-top: 24px;

  background: white;

  border: 1px solid #e4e9f1;

  border-radius: 16px;

  padding: 35px;

  min-height: 150px;

  display: flex;

  align-items: center;

  justify-content: center;

  gap: 18px;

  box-shadow:
    0 3px 10px rgba(30, 50, 80, 0.04);
}

.holiday-icon {
  width: 58px;
  height: 58px;

  border-radius: 50%;

  background: #f1f5ff;

  display: flex;

  align-items: center;

  justify-content: center;

  font-size: 28px;
}

.holiday-content {
  display: flex;

  flex-direction: column;

  gap: 5px;
}

.holiday-content h2 {
  margin: 0;

  color: #17233a;

  font-size: 20px;
}

.holiday-content p {
  margin: 0;

  color: #71829d;

  font-size: 13px;
}


/* ================================================= */
/* RESPONSIVE HOLIDAY */
/* ================================================= */

@media (max-width: 700px) {

  .holiday-card {
    padding: 25px;

    text-align: center;

    flex-direction: column;
  }

}